//////----Container Collections----//////

.containerCollection {
    margin-top: 3rem;

        &__item {
            width: 24%;                      
        }
        &__imagen-container {
            min-height: 250px;
        }

}






