@use 'global';

.footer {
    background-color: global.$blue-kiosk;
    border-top: 2px solid;
    border-color: global.$orange-kiosk;
    min-height: 85px;
    color: global.$white;     
    font-size: 13px;
    font-weight: 300;

}

//Movil//
@media (max-width: global.$breakpoint-tablet) {
.footer {
    padding: 0 15px 17px 15px;
    height: 105px;
    text-align: center;
}
a.websystemLink {
    display: block;
}
}