//////----Global Styles----//////

//Container
.product-container, .breadcrumb {
    max-width: 1390px;
    margin-left: auto;
    margin-right: auto;
}


//Colors
$grey-letters: #416267;
$black-icon  : #233638;
$green       : #61B22C;
$white       : #F8F8F8;
$black       : #000000;

//Fonts



//Breakpoint
$breakpoint-tablet: 640px;
$breakpoint-laptop: 1024px;
$breakpoint-desktop: 1280px;



