@use 'global';

.header {
    min-height   : 83px;
    border-bottom: 1px solid #E5E5E5 !important;

    .logo img {
        max-width: 195px;
    }

}

.menu {
    margin     : 0px 20px 0px 20px;
    cursor     : pointer;
    font-weight: 600;

    .square {
        background-color: black;
        display         : inline-block;
        width           : 10px;
        height          : 10px;
    }
}

.menu:hover {
    border-bottom: 1px solid;
}
ul#SiteNav {
    border-bottom: 1px solid #E5E5E5 !important;
    padding: 10px 0;
}

.topNavBar {


    text-align: center;
    
    .menu-icon-arrow-down svg {
        position: relative;
        top: -1.5px;
        width: 10px;
        height: 10px;
        left: 5px;
        fill: currentColor;
        display: inline-block;
        vertical-align: middle;
    }
    a.site-nav__link {
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 500;
        padding: 12px 21px;
        color: global.$grey-letters;
        line-height: 34px;
    }
    .grid__item.meganav__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    ul.meganav__nav.page-width {
        max-width: none;
        padding: 30px 40px!important;
        width: 100vw;
    }
    .meganav__link--second-level {
        font-weight: 600;
        font-size: 13px;
        color: global.$grey-letters;
    }
    .site-nav__dropdown-container--third-level {
        font-weight: 400;
        font-size: 12px;
    }
    .site-nav__dropdown--second-level {        
        position: absolute;
        z-index: 254;
        background-color: #ffffff;        
        left: 0;
        padding: 0;
        margin: 0;
        border-bottom: 1px solid #ccc;
    }
    li.site-nav__item {
        position: inherit !important;
    }


    }



.categories {
    display           : flex;
    width             : 100%;
    // height         : 20vh;
    justify-content   : space-around;

    span {
        cursor: pointer;
    }

    span:hover {
        opacity: 0.5;
    }

    .__item {
        display       : flex;
        flex-direction: column;
        color         : grey;
        cursor        : pointer;
    }

    .__item:hover {
        opacity: 0.5;
    }
}

.topUserArea {
    
        display: flex;        
        justify-content: flex-end;
        align-items: center;
    
    
    &__search {
        position: absolute;
    }

    form{
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        transition: all 0.5s;
        width: 36px;
        height: 38px;
        background: #f6f7f7;
        box-sizing: border-box;
        border-radius: 5px;
        border: 4px solid #f6f7f7;
        padding: 5px;
    }
    
    
    input{
        position: absolute;
        top: -6px;
        left: 0;
        width: 100%;
        height: 41px;
        line-height: 30px;
        outline: 0;
        border: 0;
        display: none;
        font-size: 13px!important;
        border-radius: 0px;    
        padding: 13px;
        background-color: transparent !important;
    }

    input::placeholder {    
        color: #97a9ac!important;           
    }

    input:focus {        
        --tw-ring-shadow: none;        
        border: none !important;
    }
    
    .fa{
        box-sizing: border-box;
        padding: 7px;
        width: 29px;
        height: 30px;
        position: absolute;
        top: 0px;
        right: 1px;
        border-radius: 10px;
        color: #07051a;
        text-align: center;
        font-size: 17px;
        transition: all 0.5s;
    }
    
    &__search form:hover{
        width: 300px;
        cursor: pointer;
      margin-left: -176px;
    }
    
    form:hover input{
        display: block;
    }
    form:hover path {
        fill: rgb(255, 255, 255);
    }
    
    form:hover .fa{
        background: #07051a;
        color: white;
      border-radius: 5px;
      
    }
    &__cart {
        position: relative;
        float: left;
    }s
    
    &__login {
        position: relative;
        float: left;
        margin-right: 20px;
    }

    &__search-container {
        margin-right:55px;
    }
    &__login {
        margin-right: 20px;
    }
}

