//////----HERO----//////

.containerHero {
    min-height: 35rem;        
    background: url("https://cdn.shopify.com/s/files/1/0638/9193/1378/files/MAXTRIX_ROOM_YOUTH_1950x.jpg?v=1649529423") center center;
    background-size: cover;     

        &__title {
            font-size: 4rem;
            text-shadow: 3px 2px 4px #535353;            
            }
        
        &__description {
            text-shadow: 3px 2px 4px #535353;   
        }    
        

}