@use 'global';

@keyframes modal-in {
    0% {
        margin-right: -50%;
    }

    100% {
        margin-right: 0%;
    }
}

.breadcrumb {
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 10px;
    letter-spacing: 1px;
    color: #416267;
    font-weight: 200;
    font-family: "Plus Jakarta Sans", sans-serif;
}

.modal {

    visibility: hidden;
    display   : flex;
    position        : fixed;
    z-index         : 255;
    left            : 0;
    top             : 0;
    width           : 100%;
    height          : 100%;
    overflow        : auto;
    background-color: rgba(0, 0, 0, 0);
    overflow-y      : hidden;

    transition: all 1s;

    div:first-child {
        width: 100%;
    }

    .customize-modal {
        font-family     : 'Plus Jakarta Sans', sans-serif !important;
        position        : fixed;
        right           : 0;
        width           : 48%;
        height          : 100vh;
        background-color: #FFFFFF;
        margin-right    : -50%;
        transition      : all 1s;

        .content {
            padding-top: 5%;
            padding-left: 5%;
            padding-right: 5%;
            max-width: 535px;

            .back {
                cursor: pointer;
            }

            h2 {
                margin-top    : 9%;
                margin-bottom : 1%;
                font-weight   : 600;
                font-size     : 18px;
                line-height   : 22px;
                letter-spacing: 1px;
                color: global.$black;
            }
            p.select-title {
                font-size: 14px;
                border-bottom: 2px solid rgba(65, 98, 103, 0.1803921569);
                padding-bottom: 15px;
                margin-bottom: 15px;
                color: global.$black;
            }

            .price {
                padding-top: 0%;
                color: global.$black;
                

                span {
                    font-size     : 16px;
                    letter-spacing: 1px;

                    span {
                        color: global.$green;
                    }
                }

                p {
                    font-size  : 12px;
                    font-weight: 400;
                    line-height: 18px;
                    color: global.$grey-letters;
                }
            }

            .container-option {
                border         : 1px solid global.$white;
                padding        : 15px;
                display        : flex;
                justify-content: space-between;
                margin-top     : 2%;
                cursor         : pointer;
                width          : 100%;

                span {
                    display       : flex;
                    align-items   : center;
                    letter-spacing: 0.5px;

                    .arrow {
                        width          : 15px;
                        height         : 15px;
                        align-items    : center;
                        justify-content: center;
                    }

                    .option-name {
                        margin-left: 14px;
                        line-height: 16px;
                        font-size  : 12px;
                        font-weight: 600;
                        color: global.$black;
                    }

                    .option-value {
                        margin-right: 14px;
                        line-height : 14px;
                        font-size   : 12px;
                        font-weight : 500;
                        color: global.$grey-letters;
                    }
                }

                .option-image {
                    display         : flex;
                    width           : 16px;
                    height          : 16px;
                    background-color: lightgrey;
                    margin-right    : 14px;
                }

                .options {
                    display             : flex;                    
                    flex-wrap           : wrap;
                    justify-content     : space-between;
                    padding-right       : 2px;
                    margin-bottom       : 3%;                    
                    margin-top          : 4%;
                    width: 103%;
                    margin-left: -3%;

                    &.text {
                        .option-item {
                            display      : flex;
                            position     : relative;
                            width        : 49%;
                            border       : 1px solid #416267;
                            padding: 10px 13px;
                            margin-bottom: 2%;
                            align-items  : center;
                            opacity      : 0.6;

                            &.selected {
                                border : 2px solid rgba(65, 98, 103, 0.7490196078);
                                opacity: 1;                                
                            }

                            div {
                                width         : 85%;
                                font-size     : 12px;
                                font-weight   : 400;
                                line-height   : 15px;
                                letter-spacing: 1px;

                                del {
                                    opacity: 0.5;
                                }
                            }
                        }

                        .option-item:hover {
                            cursor : pointer;
                            opacity: 1;
                        }
                    }

                    &.image {
                        .option-row {
                            padding     : 13px;
                            margin-right: 15px;
                        }

                        .head {
                            display        : flex;
                            justify-content: space-between;
                            font-size      : 12px;
                            line-height    : 14px;
                            font-weight    : 400;
                            margin-bottom  : 3%;
                            color: global.$grey-letters;

                            del {
                                margin-left: 15px;
                                opacity    : 0.5;
                            }
                        }

                        .box-container {
                            display  : flex;
                            width    : 100%;
                            flex-wrap: wrap;
                            margin-bottom: 6%;
                            overflow: auto;

                            .box-image {
                                min-width: 49px;
                                min-height: 49px;
                                max-width: 49px;
                                max-height: 49px;
                                background-color: blue;
                            }
                        }
                        .grid-options-colors {
                            display: grid;
                            grid-gap: 11px;
                            grid-template-columns: auto;
                            grid-template-rows: 49px 49px;
                            grid-auto-flow: column;
                            width: 100%;
                            padding: 0px 0px 15px 0px !important;
                        }
                        

                    }
                }

                &.grey {
                    background-color: global.$white;
                }

                &.open {
                    align-items   : flex-start;
                    border-width  : 0px;
                    padding       : 16px;
                    padding-right : 0px;
                    flex-direction: column;

                    .arrow {
                        background-color: global.$white;
                        transform       : rotate(180deg);
                    }
                }
            }


        }

        &.show {
            margin-right: 0%;
        }
    }

    &.show {
        // display: flex;

        visibility      : visible;
        background-color: rgba(0, 0, 0, 0.2);
        // opacity     : 1;
    }

    /* custom scrollbar */
    ::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 7px;
        height: 7px;
        background-color: #f1f1f1;
    }
    ::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: rgb(65 98 103 / 49%);
        -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
    }
    body::-webkit-scrollbar-thumb {
        background-color: #aaaaaa;    
    }
    ::-webkit-scrollbar-button {
        background-color: red;
        background-size: 10px 10px;
        background-repeat: no-repeat;
        background-position: center center;
        height: 16px;
        width: 1em;
        -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.2);
    }    
    ::-webkit-scrollbar-button:horizontal:increment {
        background-image: url(data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pgo8IS0tIEdlbmVyYXRvcjogQWRvYmUgSWxsdXN0cmF0b3IgMTYuMC4wLCBTVkcgRXhwb3J0IFBsdWctSW4gLiBTVkcgVmVyc2lvbjogNi4wMCBCdWlsZCAwKSAgLS0+CjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiBpZD0iQ2FwYV8xIiB4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjE2cHgiIGhlaWdodD0iMTZweCIgdmlld0JveD0iMCAwIDI1NSAyNTUiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDI1NSAyNTU7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPGc+Cgk8ZyBpZD0iYXJyb3ctZHJvcC11cCI+CgkJPHBvbHlnb24gcG9pbnRzPSIwLDE5MS4yNSAxMjcuNSw2My43NSAyNTUsMTkxLjI1ICAgIiBmaWxsPSIjMDAwMDAwIi8+Cgk8L2c+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPC9zdmc+Cg==)
    }
    ::-webkit-scrollbar-button:horizontal:decrement {
        background-image: url(data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pgo8IS0tIEdlbmVyYXRvcjogQWRvYmUgSWxsdXN0cmF0b3IgMTYuMC4wLCBTVkcgRXhwb3J0IFBsdWctSW4gLiBTVkcgVmVyc2lvbjogNi4wMCBCdWlsZCAwKSAgLS0+CjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiBpZD0iQ2FwYV8xIiB4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjE2cHgiIGhlaWdodD0iMTZweCIgdmlld0JveD0iMCAwIDI1NSAyNTUiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDI1NSAyNTU7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPGc+Cgk8ZyBpZD0iYXJyb3ctZHJvcC11cCI+CgkJPHBvbHlnb24gcG9pbnRzPSIwLDE5MS4yNSAxMjcuNSw2My43NSAyNTUsMTkxLjI1ICAgIiBmaWxsPSIjMDAwMDAwIi8+Cgk8L2c+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPe)
     }  
    ::-webkit-scrollbar-button:horizontal:start:increment,
    ::-webkit-scrollbar-button:horizontal:end:decrement {
        display: none;
    }

}

.price {
    padding-top    : 3%;
    padding-bottom : 3%;
    display        : flex;
    align-items    : baseline;
    justify-content: space-between;

    span {
        font-size  : 20px;
        font-weight: 500;
    }

    p {
        letter-spacing: 1px;
        float         : right;
        font-size     : 12px;
        font-weight   : 400;
    }
}

.product-container {
    display    : flex;
    width      : 100%;
    font-family: 'Plus Jakarta Sans', sans-serif !important;

    .product-info {
             

        .carrousel {
            position        : relative;
            width           : 100%;            
            background-color: global.$white;
            border-radius   : 2px;

            .full-size {
                position: absolute;
                right   : 3%;
                top     : 4%;
                cursor  : pointer;
            }

            .arrow-left {
                position: absolute;
                left    : 3%;
                bottom  : 0%;
                cursor  : pointer;
            }

            .arrow-right {
                position: absolute;
                right   : 3%;
                bottom  : 0%;
                cursor  : pointer;
            }

            .circle {
                height          : 35px;
                width           : 35px;
                background-color: #FFFFFF;
                border-radius   : 50%;
                display         : flex;
                align-items     : center;
                padding-left    : 8.5px;
                padding-top     : 0.5px;
                // border: 1px solid $grey-letters;

                opacity: 0.5;

                &.cross {
                    height      : 35px;
                    width       : 35px;
                    padding-left: 9.5px;
                    padding-top : 1px;
                }
            }

            .circle:hover {
                opacity: 0.55;
            }

        }

        .images-list {
            display        : flex;
            justify-content: space-between;
            padding-top    : 3%;

            .images-item {
                width              : 18%;
                min-height         : 80px;
                // background-color: #F8F8F8;
                border-radius      : 2px;
            }

            .images-item:hover {
                opacity: 0.8;
                cursor : pointer;
            }
        }

        .share-button {
            display    : flex;
            margin-top : 5%;
            font-size  : 12px;
            color      : global.$grey-letters;
            align-items: center;
            font-weight: 100;

            span {
                margin-left     : 7px;
                height          : 23px;
                width           : 23px;
                background-color: global.$black-icon;
                border-radius   : 50%;
                display         : flex;
                align-items     : center;
                padding-left    : 5px;
            }
        }

        
        
    }
    

    .overview {
        display       : flex;       
        flex-direction: column;
        color         : global.$grey-letters;
        letter-spacing: 2px;

        h2 {
            font-size    : 25px;
            line-height  : 16px;
            font-weight  : 300;
            margin-bottom: 3%;
        }

        h3 {
            font-size    : 25px;
            line-height  : 16px;
            font-weight  : 300;
            margin-bottom: 3%;
        }

        p {
            font-size  : 15px;
            line-height: 28px;
            font-weight: 100;
        }
    }

    .product-options {       
        

        h2 {
            margin-bottom : 2%;
            font-weight   : 600;
            font-size     : 18px;
            line-height   : 22px;
            letter-spacing: 1px;
        }

        .breadcrumb {
            font-size: 10px;
            margin: 4px 0px;
        }

        .variants {
            display        : flex;
            flex-wrap      : wrap;
            justify-content: space-between;
            padding-right  : 2px;
            margin-bottom  : 3%;


            .variant-item {
                display      : flex;
                position     : relative;
                width        : 49%;
                border       : 1px solid #416267;
                padding      : 10px 15px;
                margin-bottom: 2%;
                align-items  : center;
                opacity      : 0.6;

                &.selected {
                    border : 2px solid #416267bf;
                    opacity: 1;

                    .exclamation-circle {
                        opacity         : 1;
                        background-color: #41626721;
                    }
                }

                div {
                    width: 85%;

                    span {
                        font-size  : 13px;
                        line-height: 16px;
                        font-weight: 400;
                    }

                    p {
                        font-size  : 14px;
                        font-weight: 700;
                    }
                }

                .exclamation-circle {
                    margin-left  : 7px;
                    height       : 30px;
                    width        : 30px;
                    border-radius: 50%;
                    align-items  : center;
                    padding-left : 4.5px;
                    display      : flex;
                }
            }

            .variant-item:hover {
                cursor : pointer;
                opacity: 1;
            }
        }

        .extra-options {
            margin-bottom: 8%;

            p {
                font-size    : 13px;
                line-height  : 26px;
                font-weight  : 700;
                margin-bottom: 3%;
            }

            .container {
                font-size          : 12px;
                line-height        : 26px;
                font-weight        : 300;
                line-height        : 28px;
                color              : global.$grey-letters;
                display            : block;
                position           : relative;
                padding-left       : 35px;
                margin-bottom      : 7px;
                cursor             : pointer;
                -webkit-user-select: none;
                -moz-user-select   : none;
                -ms-user-select    : none;
                user-select        : none;
            }

            /* Hide the browser's default checkbox */
            .container input {
                position: absolute;
                opacity : 0;
                cursor  : pointer;
                height  : 0;
                width   : 0;
            }

            /* Create a custom checkbox */
            .checkmark {
                position        : absolute;
                top             : 0;
                left            : 0;
                height          : 25px;
                width           : 25px;
                background-color: #F5F3F1;
                border          : 1px solid rgba(65, 98, 103, 0.13);
                border-radius   : 3px;
            }

            /* On mouse-over, add a grey background color */
            .container:hover input~.checkmark {}

            /* When the checkbox is checked, add a blue background */
            .container input:checked~.checkmark {}

            /* Create the checkmark/indicator (hidden when not checked) */
            .checkmark:after {
                content : "";
                position: absolute;
                display : none;
            }

            /* Show the checkmark when checked */
            .container input:checked~.checkmark:after {
                display: block;
            }

            /* Style the checkmark/indicator */
            .container .checkmark:after {
                left             : 7px;
                top              : 2px;
                width            : 9px;
                height           : 15px;
                border           : solid global.$grey-letters;
                border-width     : 0 3px 3px 0;                
                -webkit-transform: rotate(45deg);
                -ms-transform    : rotate(45deg);
                transform        : rotate(45deg);
            }
        }

        .customize-button {
            cursor         : pointer;
            justify-content: center;
            display        : flex;
            padding        : 16px;
            width          : 100%;
            border         : 2px solid global.$green;
            color          : global.$green;
            font-weight    : 800;
            font-size      : 14px;
            letter-spacing : 1.5px;
            position       : relative;

            span {
                position: absolute;
                left    : 20px;
            }
        }

        .customize-button:hover {
            opacity: 0.7;
        }

        .black-button {
            cursor          : pointer;
            margin-top      : 3%;
            justify-content : center;
            display         : flex;
            padding         : 16px;
            font-weight     : 800;
            font-size       : 14px;
            letter-spacing  : 1.5px;
            width           : 100%;
            background-color: global.$black-icon;
            color           : #FFFFFF;
        }

        .black-button:hover {
            opacity: 0.7;
        }

        .shop-secure {
            margin-top     : 4%;
            display        : flex;
            width          : 100%;
            justify-content: center;
            font-size      : 12px;
            font-weight    : 400;
            line-height    : 16px;
            letter-spacing : 1px;

            span {
                margin-top      : 2px;
                margin-right    : 7px;
                height          : 13px;
                width           : 13px;
                background-color: global.$black-icon;
                border-radius   : 50%;
                display         : flex;
                align-items     : center;
                padding-left    : 3px;
            }
        }
    }
}

//---------------RESPONSIVE-----------------//


@media (max-width: global.$breakpoint-tablet) {
    .product-options h2 {
        margin-top: 10px;
    }
   .product-info .share-button {        
        margin-top: 0;        
        justify-content: flex-end;
    }
    .product-container .product-info .images-list .images-item {        
        min-height: auto;        
    }
    .product-container .product-options .variants .variant-item {        
        padding: 9px 10px;       
    }
    .overview {
        margin-top: 80px;        
    }
    .modal .customize-modal {        
        margin-right: -100%;
        width: 100%        
    }
    .breadcrumb {
        visibility: hidden;
        margin: 0;
    }
    .modal.show .price {        
        flex-direction: row;
        flex-wrap: wrap;
    }
    .modal .customize-modal .content .price span {        
        margin-bottom: 7px;
    }
    .modal .customize-modal .content p.select-title {  
        margin-top: 15px;
    }
  
}

  

     




   
